.myGigs {
    display: flex;
    justify-content: center;

    .loader {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 75%;
        margin: auto;
        padding: 50px 0px;

        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                background-color: var(--green-color);
                color: #fff;
                font-weight: 400;
                border: none;
                padding: 16px 26px;
                border-radius: 5px;
                cursor: pointer;
            }
        }

        @media screen and (max-width: 900px) {
            width: 90%;
        }
    }
}