.messages {
    display: flex;
    justify-content: center;

    .container {
        width: 75%;
        margin: auto;
        padding: 50px 0px;

        .loader {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        @media screen and (max-width: 900px) {
            width: 90%;
        }
    }
}