.orders {
    display: flex;
    justify-content: center;

    .loader {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 75%;
        margin: auto;
        padding: 50px 0px;
        overflow-x: scroll;
        
        &::-webkit-scrollbar {
            display: none;
        }
        
        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        @media screen and (max-width: 900px) {
            width: 90%;
        }
    }
}